@model IEnumerable<e_commerce.ViewModels.AlamatViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kecamatan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kelurahan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rw)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KodePos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kecamatan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kelurahan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rw)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KodePos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
