@model IEnumerable<e_commerce.Datas.Entities.DetailOrder>

@{
    ViewData["Title"] = "DetailOrder";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h1>Pembayaran Order</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdProduk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Harga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JumlahBarang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProduk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Harga)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JumlahBarang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.Id)
                </td>
                @if (ViewBag.IsAdmin)
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Pengiriman" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="Kurir" class="control-label">Kurir</label>
                <input name="Kurir" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Ongkir" class="control-label">Ongkir</label>
                <input name="Ongkir" class="form-control" />
            </div>
            <div class="form-group">
                <label for="NoResi" class="control-label">NoResi</label>
                <input name="NoResi" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Keterangan" class="control-label">Keterangan</label>
                <input name="Keterangan" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Status" class="control-label">Status</label>
                <input name="Status" type="number" class="form-control" />
            </div>
            <div class="form-group">
                <input name="IdAlamat" value="@ViewBag.DataOrder.IdAlamat" hidden />
            </div>
            <div class="form-group">
                <input name="IdOrder" class="form-control" value="@ViewBag.DataOrder.Id" hidden></input>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
