@model IEnumerable<e_commerce.ViewModels.OrderViewModel>

@{
    ViewData["Title"] = "ListOrder";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h1>ListOrder</h1>
@if (ViewBag.IsAdmin)
{

    <form asp-action="Index" asp-controller="Order">
        <div class="row">
            <div class="col-md-4">
                <input type="date" name="date" value="@ViewBag.FilterDate">
            </div>
            <div class="col-md-4">
                <select asp-items="@ViewBag.StatusList" name="status">
                    <option value="">Pilih Status</option>
                </select>
            </div>
            <div class="col-md-4">
                <input type="submit" value="Cari" />
            </div>
    </form>

}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TanggalTransaksi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            @if (ViewBag.IsAdmin)
            {
                <th>
                    @Html.DisplayNameFor(model => model.NamaCustomer)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Konfirmasi
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="DetailOrder" asp-route-id=@item.Id>@Html.DisplayFor(modelItem => item.TanggalTransaksi)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                @if (ViewBag.IsAdmin)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.NamaCustomer)
                    </td>
                }
                <td>
                    @if (item.IdStatus == 5)
                        {
                        <p class="text-success">@Html.DisplayFor(modelItem => item.Status)</p>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Status)
                    }
                </td>
                <td>
                    @if (ViewBag.IsAdmin)
                    {
                        @if (item.IdStatus == 2)
                        {
                            <a asp-action="DetailPembayaran" asp-route-id="@item.Id">
                                <p class="text-danger">Konfirmasi Order</p>
                            </a>
                        }
                        else if (item.IdStatus == 3)
                        {
                            <a asp-action="CreatePengiriman" asp-route-id="@item.Id">
                                <p class="text-danger">Data Pengiriman</p>
                            </a>
                        }
                        else if (item.IdStatus == 4)
                        {
                            <a asp-action="DataPengiriman" asp-route-id="@item.Id">
                                <p class="text-success">Detail Pengiriman</p>
                            </a>
                        }
                        else if (item.IdStatus == 6)
                        {
                            <a asp-controller="Home" asp-action="UlasanOrder" asp-route-id="@item.Id">
                                <p class="text-info">Lihat Ulasan</p>
                            </a>
                        }
                    }
                    else
                    {
                        @if (item.IdStatus == 4)
                        {
                            <a asp-action="DataPengiriman" asp-route-id="@item.Id">
                                <p class="text-danger">Konfirmasi Diterima</p>
                            </a>
                        }
                        else if (item.IdStatus == 1)
                        {
                            <a asp-action="PembayaranTransaksi" asp-route-id="@item.Id">
                                <p class="text-danger">Pembayaran Order</p>
                            </a>
                        }
                        else if (item.IdStatus == 2 || item.IdStatus == 3)
                        {
                            <a asp-action="DetailPembayaran" asp-route-id="@item.Id">
                                <p class="text-secondary">Lihat Pembayaran</p>
                            </a>
                        }
                        else if (item.IdStatus == 5)
                        {
                            <a asp-action="BeriUlasan" asp-route-id="@item.Id">
                                <p class="text-info">Beri Ulasan</p>
                            </a>
                        }
                        
                        else if (item.IdStatus == 6)
                        {
                            <a asp-controller="Home" asp-action="UlasanOrder" asp-route-id="@item.Id">
                                <p class="text-info">Lihat Ulasan</p>
                            </a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
