@model IEnumerable<e_commerce.Datas.Entities.DetailOrder>

@{
    ViewData["Title"] = "DetailOrder";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h1>Pembayaran Order</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdProduk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Harga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JumlahBarang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProduk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Harga)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JumlahBarang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.Id)
                </td>
                @if (ViewBag.IsAdmin)
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Pembayaran" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="MetodePembayaran" class="control-label">Metode Pembayaran</label>
                <input name="MetodePembayaran" class="form-control" />
            </div>
            <div class="form-group">
                <input name="TotalBayar" value="@ViewBag.DataOrder.JumlahBayar" hidden />
            </div>
            <div class="form-group">
                <input name="IdOrder" class="form-control" value="@ViewBag.DataOrder.Id" hidden></input>
            </div>
            <div class="form-group">
                <input name="IdCustomer" class="form-control" value="@ViewBag.DataOrder.IdCustomer" hidden></input>
            </div>
            <div class="form-group">
                <label for="Tujuan" class="control-label">Tujuan Pembayaran</label>
                <input name="Tujuan" class="form-control" />
            </div>
            <div class="checkout__form__input">
                <label>Upload Bukti Pembayaran</label>
                <input name="FileBukti" type="file" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
