@using e_commerce.Helpers;
@model IEnumerable<e_commerce.ViewModels.KeranjangViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

@if (Context.User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdProduk)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdCustomer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JumlahBarang)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubTotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gambar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NamaProduk)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdProduk)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCustomer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JumlahBarang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gambar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NamaProduk)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<!-- Shop Cart Section Begin -->
<section class="shop-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shop__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="cart__product__item">
                                        <img src="~/@item.Gambar" height="120" alt="">
                                        <div class="cart__product__item__title">
                                            <h6>@item.NamaProduk</h6>
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">Rp. @(item.SubTotal / item.JumlahBarang)</td>

                                    <form asp-action="EditJumlah" asp-controller="Keranjangs" method="post">
                                        @Html.AntiForgeryToken()
                                    <td class="cart__quantity">
                                        <div class="pro-qty">
                                            <input type="text" name="JumlahBarang" value="@item.JumlahBarang">
                                        </div>
                                    </td>
                                    <input name="IdProduk" value="@item.Id" type="hidden" />
                                    <td class="cart__total">@item.SubTotal.ToIDR()</td>

                                    <td class="cart__close">
                                        <a asp-action="Delete" asp-route-id="@item.Id">
                                            <span class="icon_close"></span>
                                        </a>
                                    </td>
                                    <td>
                                        <button type="submit" class="site-btn">Update</button>
                                    </td>
                                    </form>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-4">
                <h4>Cart total</h4>
                <div class="cart__total__procced">

                    <ul>
                        <li>Subtotal <span>$ 750.0</span></li>
                        <li>Total <span>$ 750.0</span></li>
                    </ul>
                    <form asp-controller="Order" asp-action="Checkout">
                        @foreach (var item in Model)
                        {
                                    <input type="hidden" name="IdProduk" value="@item.Id" />
                                    <input type="hidden" name="JumlahBarang" value="@item.JumlahBarang" />
                        }
                        <div class="form-group">
                            <label name="IdAlamat" class="control-label">Alamat Pengiriman</label>
                            <select name="IdAlamat" class="form-control" asp-items="ViewBag.IdAlamat"></select>
                        </div>
                        <div class="form-group">
                            <button type="submit" value="Checkout" class="site-btn">Checkout</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">

                <div class="cart__btn">
                    <a href="#">Continue Shopping</a>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="discount__content">
                    <h6>Discount codes</h6>
                    <form action="#">
                        <input type="text" placeholder="Enter your coupon code">
                        <button type="submit" class="site-btn">Apply</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Cart Section End -->